.tabs-container {
  display: flex;
  flex-direction: row;
  background-color: gray;
  align-items: center;
}
.editBtn {
  margin-left: auto;
  margin-right: 20px;
  background: none;
  border: none;
  transition: all 0.3s ease;
}
.editBtn:hover {
  color: white;
}

.actions-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}
.actions-save {
  background-color: forestgreen;
  color: white;
  margin-right: 20px;
  border: solid 1px white;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.actions-discard {
  background-color: red;
  color: white;
  margin-right: 20px;
  border: solid 1px white;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.actions-save:hover {
  background-color: darkgreen;
}
.actions-discard:hover {
  background-color: darkred;
}
.addTabBtn {
  background: none;
  border: none;
  margin-left: 10px;
  color: white;
  font-size: 20px;
}
