@if (!(dashboard$ | async)?.tabs?.length) {
  <div class="empty-state">
    <h2>No dashboards available</h2>
  </div>
}
<div class="tabs-container">
  <app-tabs
    [tabs]="(dashboard$ | async)?.tabs ?? []"
    [editMode]="editMode()"
    (OnChangeTab)="onChangeTab($event)"
    (tabMove)="moveTab($event)"
    (removeTab)="removeTab($event)"
    (renameTab)="renameTab($event)"
  >
  </app-tabs>

  @if (!editMode()) {
    <button class="editBtn" (click)="enterEdit()">
      <mat-icon>edit</mat-icon>
    </button>
  }
  @if (editMode()) {
    <button class="addTabBtn" (click)="openAddTabDialog()">+</button>
    <div class="actions-container">
      <button class="actions-save" (click)="save()">Save</button>
      <button class="actions-discard" (click)="discard()">Discard</button>
    </div>
  }
</div>

@if (tab$ | async; as dash) {
  <div class="cards-container">
    <div class="cards-item">
      <app-card-list [cards]="dash.cards"></app-card-list>
    </div>
    <div class="add-card-container">
      <button class="add-card-btn" mat-raised-button (click)="addCard(dash.id)">Add Card</button>
    </div>
  </div>
}
