<form [formGroup]="form" class="edit-card-container">
  <h2>Edit Card</h2>
  <mat-form-field>
    <input matInput placeholder="Card Title" formControlName="title" />
  </mat-form-field>

  <div>
    <h3>Current Entities</h3>
    @for (item of items(); track item.id; let i = $index) {
      <div>
        <span>{{ item.label }}</span>
        <button mat-icon-button (click)="removeEntity(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    }
  </div>

  <mat-form-field>
    <mat-label> Select Entity </mat-label>
    <mat-select formControlName="selectedEntity">
      @for (entity of allEntites(); track entity.id) {
        <mat-option [value]="entity"> {{ entity.label }} {{ entity.type }} </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="addEntity()">Add</button>
  <button mat-raised-button color="accent" type="button" (click)="submit()">Save</button>
  <button mat-raised-button (click)="close()">Cancel</button>
</form>
