<mat-sidenav-container class="sidenav-container" [hasBackdrop]="isMobile() ? 'true' : 'false'">
  <mat-sidenav
    #sidenav
    [mode]="isMobile() ? 'over' : 'side'"
    [opened]="!isMobile()"
    class="sidenav"
  >
    <div class="sidenav-content">
      <div class="sidenav-header">
        <mat-icon>home</mat-icon>
        <span>Smart Home</span>
        @if (isMobile()) {
          <button class="sidebar-btn" mat-icon-button color="accent" (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        }
      </div>

      <mat-nav-list>
        @if (dashboards$ | async; as dashboards) {
          @for (dash of dashboards; track dash.id) {
            <a mat-list-item class="sidebar-content">
              <mat-icon matListItemIcon>{{ dash.icon }}</mat-icon
              >-->
              <span matListItemTitle>{{ dash.title }}</span>
            </a>
          }
        }
      </mat-nav-list>

      <div class="sidebar-footer">
        <mat-icon>account_circle</mat-icon>
        <span>User</span>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    @if (isMobile()) {
      <div class="topbar">
        <button mat-icon-button color="primary" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Smart Home</span>
      </div>
    }
    <app-dashboard></app-dashboard>
  </mat-sidenav-content>
</mat-sidenav-container>
