<mat-sidenav-container class="sidenav-container" [hasBackdrop]="isMobile() ? 'true' : 'false'">
  <mat-sidenav
    #sidenav
    [mode]="isMobile() ? 'over' : 'side'"
    [opened]="!isMobile()"
    class="sidenav"
  >
    <div class="sidenav-content">
      <div class="sidenav-header">
        <mat-icon>home</mat-icon>
        <span>Smart Home</span>
        @if (isMobile()) {
          <button class="sidebar-btn" mat-icon-button color="accent" (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        }
      </div>

      <mat-nav-list>
        @for (dash of dashboardService.dashboards$ | async; track dash.id) {
          <mat-list-item
            class="sidebar-navi"
            [routerLink]="['/dashboard', dash.id]"
            routerLinkActive="active"
          >
            <mat-icon matListItemIcon>{{ dash.icon }}</mat-icon>
            {{ dash.title }}
          </mat-list-item>
        }
      </mat-nav-list>

      <div class="sidebar-footer">
        <mat-icon>account_circle</mat-icon>
        @if (authService.user$ | async; as user) {
          <span>{{ user.fullName }}</span>
          <span>{{ user.initials }}</span>
        }
        <button class="sidebar-logout" (click)="authService.logout()">Log Out</button>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    @if (isMobile()) {
      <div class="topbar">
        <button mat-icon-button color="primary" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Smart Home</span>
      </div>
    }
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
